@{
    if (HttpContext.Current.Request.RequestContext.RouteData.Values["controller"] == "Vulnerable")
    {
        ViewBag.AppName = "Vulnerable Site";
    }
    else
    {
        ViewBag.AppName = "Secure Site";
    }
}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")

</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @{ string actionLink = ViewBag.AppName; }
                @Html.ActionLink(actionLink, "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li>@Html.ActionLink("A1", "A1")</li>
                    <li>@Html.ActionLink("A2", "A2")</li>
                    <li>@Html.ActionLink("A3", "A3")</li>
                    <li>@Html.ActionLink("A4", "A4")</li>
                    <li>@Html.ActionLink("A5", "A5")</li>
                    <li>@Html.ActionLink("A6", "A6")</li>
                    <li>@Html.ActionLink("A7", "A7")</li>
                    <li>@Html.ActionLink("A8", "A8")</li>
                    <li>@Html.ActionLink("A9", "A9")</li>
                    <li>@Html.ActionLink("A10", "A10")</li>

                </ul>
                @Html.Partial("_LoginPartial")
            </div>
        </div>
    </div>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - My ASP.NET Application</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
